.detail-form {
    max-width: 700px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
  }

  .dashboard {
    border-style: dotted;
    background-color: bisque;
  }

  .logoutLblPos{

    position:fixed;
    right:10px;
    top:5px;
 }